* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

:root {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

#page {
    margin: 88px auto;
    max-width: 1120px;
}

#page img {
    width: 100%;
    border-radius: 28px;
    height: 660px;
}

#page main img {
    max-height: 350px;
    object-fit: cover;
}

h3 {
    color: #E1624F;
    text-transform: uppercase;
    font-size: 16px;
}

h1, h2 {
    color: #1B1B1B;
}

h1 {
    margin: 8px 0 44px;
    font-size: 36px;
}

#page img + p {
    margin: 24px 0 44px;
    font-style: italic;
    text-align: center;
}

.divider{
    border: 1px solid #D9D9D9;
}

main h3 {
    margin: 64px 0 2px;
}

h2 {
    margin-bottom: 4px;
}

main > p {
    margin-bottom: 64px;
}

section img {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 38px;
}
ul {
    margin-bottom: 48px;
}

ul li{
    margin-left: 10px;
    font-weight: 700;
}

#history {
    color: #0C51A7;
}

#couple {
    color: #591B98;
}

#family {
    color: #E5245E;
}

#budget {
    color: #E95E10;
}

.divider + p {
    margin-top: 40px;
}

footer {
    text-align: center;
    margin-bottom: 48px;
}

footer img {
    vertical-align: middle;
}